body {color:black;}

#header{
	width: 100%;
	height: 100px;
	line-height: 100px;
}
#ad {
  width: 728px ;
  margin-left: auto ;
  margin-right: auto ;
}

#maincontent {
text-align: center;
width :100%;
height :1200 px;
border-width: 5px;
font-size: 100px ;
padding-bottom:500px;
}

/*p#title {
min-height:600px;
}*/

#footer {
text-align:center;
text-size: 12px;
margin-left: auto;
margin-right: auto;
float:bottom;
float:center;
}

#bottomtext {
padding-top: 10px;
padding-bottom: 10px;
}

#twitter {
padding-top: 20px;
padding-left 4px;
}

#dogebutton {
padding-bottom: 10px;
}

#paypal {
    width:100%;
    height:100%;
  }
  table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
  }

input#refreshbutton {
width:530px;
background: #3e9cdf; /*the colour of the button*/
padding: 8px 14px 10px; /*apply some padding inside the button*/
border:1px solid #3e9cbf; /*required or the default border for the browser will appear*/
cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
/*style the text*/
font-size:21px;
font-family:Oswald, sans-serif; /*Oswald is available from http://www.google.com/webfonts/specimen/Oswald*/
letter-spacing:.1em;
line-height: 120%;
white-space: normal;
text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3); /*give the text a shadow - doesn't appear in Opera 12.02 or earlier*/
color: #fff;
/*use box-shadow to give the button some depth - see cssdemos.tupence.co.uk/box-shadow.htm#demo7 for more info on this technique*/
-webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
-moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px -10px 5px #999;
/*give the corners a small curve*/
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}
input#refreshbutton:hover, input#refreshbutton:focus {
color:#dfe7ea;
/*reduce the size of the shadow to give a pushed effect*/
-webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
-moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
}
