body {color:black;}

#header{
	width: 100%;
	height: 100px;
	line-height: 100px;
}
#ad {
	width: 728px ;
  margin-left: auto ;
  margin-right: auto ;
}



#maincontent {
text-align: center;
width :100%;
height :1200 px;
border-width: 5px;
font-size: 100px ;
padding-bottom:500px;

}

#footer {
text-align:center;
text-size: 12px;
margin-left: auto;
margin-right: auto;
float:bottom;
float:center;
}

#bottomtext {
padding-top: 10px;
padding-bottom: 10px;
}

#twitter {
padding-top: 20px;
padding-left 4px;
}

#dogebutton {
padding-bottom: 10px;
}

#paypal {
    width:100%;
    height:100%;
  }
  table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
  }

